.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 85px;
    font-family:  'Comic Sans MS', 'Times New Roman', sans-serif;
}

.column {
    flex: 1;
    padding: 10px;
}